<%- include("../partials/header") %>
<div class="container">
   <header class="header-box header-centered">
      <h1 class="header-title">Edit Record</h1>
      <span class="header-subtitle">Edit the record information</span>   
   </header>
   
   <form class="form" action="/records/<%= record._id %>?_method=PUT" method="POST">
      <ul class="form-input-list">
         <li><input class="form-input" type="text" name="record[title]" placeholder="Album Title" value="<%= record.title %> "></li>
         <li><input class="form-input" type="text" name="record[artist]" placeholder="Artist" value="<%= record.artist %>"></li>
         <li><input class="form-input" type="text" name="record[image]" placeholder="Album Cover Link" value="<%= record.image %>"></li>
         <li><textarea class="form-input" name="record[description]" placeholder="Description" maxlength="1000"><%= record.description %></textarea></li>
         <li>
            <button class="button">Edit Record</button>
            <a class="button" href="/records">Cancel</a>
         </li>
      </ul>
   </form>
   
   
</div>


<%- include("../partials/footer") %>