<%- include("../partials/header") %>
<div class="container">
   <header id="header-box">
      <h1 id="header-title">Edit Record</h1>
      <span id="header-subtitle">Edit the record information</span>   
   </header>
   
   <form class="new-record-form" action="/records/<%= record._id %>?_method=PUT" method="POST">
      <ul class="new-record-ul">
         <li><input class="new-record-input" type="text" name="record[title]" placeholder="Album Title" value="<%= record.title %> "></li>
         <li><input class="new-record-input" type="text" name="record[artist]" placeholder="Artist" value="<%= record.artist %>"></li>
         <li><input class="new-record-input" type="text" name="record[image]" placeholder="Album Cover Link" value="<%= record.image %>"></li>
         <li><textarea class="new-record-input" name="record[description]" placeholder="Description" maxlength="1000"><%= record.description %></textarea></li>
         <li><button id="new-record-submit">Edit Record</button></li>
      </ul>
   </form>
   
   <a href="/records">Go back</a>
</div>


<%- include("../partials/footer") %>