<%- include("../partials/header") %>
<div class="container">
   <header class="header-box">
         <h1 class="header-title">Records Collection</h1>
         <span class="header-subtitle">Browse through the records</span>   
   </header>
   <a class="button" id="add-record-button" href="/records/new">Add Record</a>

   <div class="records">
      <% records.forEach(function(record){ %>
         <div class="record-card">
            <a  href="/records/<%= record._id %>">
               <img class="record-image" src="<%= record.image %>">
            </a>
            <h3 class="record-name">
               <a  href="/records/<%= record._id %>"><%= record.title %></a>
            </h3>
            <h3 class="record-name">
               <%= record.artist %></span>
            </h3>
         </div>
      <% }) %>
   </div>
</div>
<%- include("../partials/footer") %>