<%- include("../partials/header") %>

<div class="container">
   <div class="flex-container">
      <!-- flexbox -->
      <img id="show-thumbnail" src="<%=record.image %>">
      <div id="show-artist-title-container">
      <!-- add link to artist -->
         <h1 class="show-artist-title" id="show-artist"><%= record.artist %></h1>
         <h1 class="show-artist-title" id="show-title"><%= record.title %></h1>
      </div>
   </div>
   <p>Submitted by: <%= record.author.username %> </p>
   <% if(currentUser && record.author.id.equals(currentUser._id)){ %> 
      <a class="add-button" href="/records/<%= record._id %>/edit">Edit</a>
      <form action="/records/<%= record._id %>?_method=DELETE" method="POST">
         <button class="add-button" >Delete</button>
      </form>
   <% } %> 
   <p id="show-description"><%= record.description %> </p>
   

   
   <div id="show-comment-section">
      <a class="add-button" id="add-comment-button" href="/records/<%= record._id %>/comments/new">Leave a Comment</a>
      <h2>Comments</h2>
      
      <% record.comments.forEach(comment => { %>
         <div class="comment-container">
            <h3 class="comment-author"><%= comment.author.username %></h3>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
               <a class="add-button" 
                  href="/records/<%= record._id %>/comments/<%= comment._id %>/edit">
                  Edit
               </a>
               <form action="/records/<%= record._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="add-button" >Delete</button>
               </form>
            <% } %> 
            <span class="comment-date"><%= comment.date.getDate() + "-" + (comment.date.getMonth()+1) + "-" + comment.date.getFullYear() + " " + comment.date.getHours() + ":" + comment.date.getMinutes()  %></span>
            <p class="comment-text"><%= comment.text %></p>
            
         </div>
      <% }); %>
   </div>
   
</div>

<%- include("../partials/footer") %>